.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.choices {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 60vw;
}

.color {
  align-items: center;
  border: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  text-shadow: 1px 1px 1px black;
  width: 100px;
}

.lock {
  background-image: url('../assets/unlock.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 25px;
}

.color1 {
  background-color: red;
}

.color2 {
  background-color: orange;
}

.color3 {
  background-color: yellow;
}

.color4 {
  background-color: green;
}

.color5 {
  background-color: blue;
}

.save-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.gen-btn {
  background-color: pink;
  border: 1px solid black;
  margin-top: 25px;
  text-align: center;
}

.gen-btn:hover {
  background-color: yellow;
  cursor: pointer;

}

.save-btn, .delete-btn {
  background-image: url('../assets/save-blue.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  margin-top: 15px;
  transition-duration: .3s;
  width: 25px;
}

.save-btn:hover {
  background-image: url('../assets/save-orange.svg');
  transition-duration: .3s;
}

.delete-btn {
  background-image: url('../assets/delete-blue.svg');
  margin-left: 10px;
}

.delete-btn:hover {
  background-image: url('../assets/delete-orange.svg');
  transition-duration: .3s;
}

select {
  margin: 20px 0 0;
}

input {
  margin-right: 10px;
}

.saved-project {
  text-align: center;
}

.saved-color {
  height: 25px;
  width: 25px;
}
