@font-face {
  font-family: 'Futurama';
  src: url('../assets/fr-title.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-image: url('http://i.imgur.com/ogqsb.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Futurama';
  margin: 0;
}

header {
  background-image: url('https://vignette.wikia.nocookie.net/en.futurama/images/4/4c/FUTURAMA-BACKGROUND-small.jpg/revision/latest?cb=20160812075819');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: red;
  font-family: 'Futurama';
  margin: 0 0 25px;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  color: yellow;
  text-shadow: 5px 5px 5px red;
}

h2 {
  color: #FFFFFF;
  text-align: left;
  text-decoration: underline;
  text-shadow: 1px 1px 1px black;
}

h3 {
  color: #FFE12E;
  font-size: 1em;
  text-align: left;
  text-shadow: 1px 1px 1px black;
  width: 150px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
}

.choices {
  align-items: center;
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content:flex-start;
  width: 60vw;
}

.main-choices {
  align-items: center;
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-between;
  width: 60vw;
}

.color {
  align-items: center;
  border: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  text-shadow: 1px 1px 1px black;
  width: 100px;
}

.no-lock, .lock {
  background-image: url('../assets/unlock.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 25px;
}

.lock{
  background-image: url('../assets/padlock.svg');
}

.no-lock:hover, .lock {
  cursor: pointer;
}

.save-area {
  align-items: center;
  background-image: url('https://wallpapercave.com/wp/A2IOttY.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  justify-content: space-around;
  margin-right: 15px;
  padding: 20px;
  width: 350px;
}

.user-save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.gen-btn {
  background-color: purple;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  font-family: 'Futurama';
  font-size: 1.2em;
  height: 40px;
  margin-top: 25px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  width: 250px;
}

.gen-btn:hover {
  animation-name: color-change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes color-change {
    0%   {background-color: red;}
    17%   {background-color: orange;}
    34%  {background-color: yellow;}
    51% {background-color: green;}
    68%  {background-color: blue;}
    85%   {background-color: purple;}
    100%   {background-color: red;}
}

.save-btn, .delete-btn {
  background-image: url('../assets/save-blue.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  margin-top: 15px;
  transition-duration: .3s;
  width: 25px;
}

.save-btn:hover {
  background-image: url('../assets/save-orange.svg');
  cursor: pointer;
  transition-duration: .3s;
}

.delete-btn {
  background-image: url('../assets/delete-blue.svg');
  margin-left: 10px;
}

.delete-btn:hover {
  background-image: url('../assets/delete-orange.svg');
  cursor: pointer;
  transition-duration: .3s;
}

select {
  margin: 20px 0 0;
}

select:hover {
  cursor: pointer;
}

input {
  margin-right: 10px;
}

.saved-project {
  text-align: center;
}

.saved-color {
  height: 25px;
  width: 25px;
}

#saved-projects {
  background-image: url('https://www.engagementlabs.com/wp-content/uploads/2015/06/robot.jpg');
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  border: 1px solid black;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 300px;
  margin-left: 15px;
  overflow-y: scroll;
  padding: 20px;
  width: 350px;
}

.user-palette {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-y: scroll;
}

.saved-area {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  margin: 25px 0;
}

#saved-project {
  display: flex;
  flex-direction: row;
}


#project-name, #palette-name, #projects {
  font-family: 'Futurama';
  font-size: 1em;
  height: 25px;
  padding: 5px;
  width: 250px;
}

#projects {
  width: 300px;
}
