body {
  margin: 0;
}

header {
  margin: 0 0 25px;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
  color: blue;
  text-shadow: 1px 1px 1px black;
}

h3 {
  width: 120px;
}

.main {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.choices {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: center;
  width: 60vw;
}

.color {
  align-items: center;
  border: 1px solid black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
  text-shadow: 1px 1px 1px black;
  width: 100px;
}

.no-lock, .lock {
  background-image: url('../assets/unlock.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  width: 25px;
}

.lock{
  background-image: url('../assets/padlock.svg');
}

.no-lock:hover, .lock {
  cursor: pointer;
}

.save-area {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.user-save {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}

.gen-btn {
  background-color: purple;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  height: 40px;
  margin-top: 25px;
  text-align: center;
  text-shadow: 1px 1px 1px black;
  width: 150px;
}

.gen-btn:hover {
  animation-name: color-change;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  cursor: pointer;
}

@keyframes color-change {
    0%   {background-color: red;}
    17%   {background-color: orange;}
    34%  {background-color: yellow;}
    51% {background-color: green;}
    68%  {background-color: blue;}
    85%   {background-color: purple;}
    100%   {background-color: red;}
}

.save-btn, .delete-btn {
  background-image: url('../assets/save-blue.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 25px;
  margin-top: 15px;
  transition-duration: .3s;
  width: 25px;
}

.save-btn:hover {
  background-image: url('../assets/save-orange.svg');
  cursor: pointer;
  transition-duration: .3s;
}

.delete-btn {
  background-image: url('../assets/delete-blue.svg');
  margin-left: 10px;
}

.delete-btn:hover {
  background-image: url('../assets/delete-orange.svg');
  cursor: pointer;
  transition-duration: .3s;
}

select {
  margin: 20px 0 0;
}

select:hover {
  cursor: pointer;
}

input {
  margin-right: 10px;
}

.saved-project {
  text-align: center;
}

.saved-color {
  height: 25px;
  width: 25px;
}

#saved-projects {
  background-color: #000000;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.user-palette {
  align-items: baseline;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-y: scroll;
}

#saved-project {
  display: flex;
  flex-direction: row;
}

#projects {
  width: 200px;
}
